{% extends 'base.html.twig' %}
{# étendre le fichier base.html.twig #}

{% block title %}
	{{parent()}}
	| Tous les membres
{% endblock %}


{% block titreH1 %}Tous les membres
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/catalogue.css') }}">
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="h1_profil col-md-12 d-flex justify-content">Tous les membres
		</h1>
	</br>

	<div class="row">
		<div class="col-md-3">
			{{ form_start(form, {attr: {class: 'filter'}})}}
			{{form_row(form.q)}}

			<h2 class="filter">Parle</h2>
			{{form_row(form.languages)}}

			<h2 class="filter">Veut Parler</h2>
			{{form_row(form.languageslearned)}}

			<h2 class="filter">Avec un/une</h2>
			{{form_row(form.gender)}}

			<h2 class="filter">Age</h2>
			<div class="row">
				<div class="col-md-6">
					{{form_row(form.ageMin)}}
				</div>
				<div class="col-md-6">
					{{form_row(form.ageMax)}}
				</div>
			</div>

			<div class="col-md-6">
				<button type="submit" class="btn btn-primary">Filtrer</button>
			</div>
			{{ form_end(form)}}

		</div>
		<div class="col-md-9">
			{% if users is not empty %}
				{% for user in users %}
					<div class="card">
						<div class="row">
							<div class="col-md-6 col-ms-6 p-3">
								<div><img class="img-fluid img-thumbnail" src="{{ asset('images/uploadphotos/' ~ user.photo) }}"></div>
							</div>
							<div class="col-md-6 col-ms-6 p-3 text-center">
								<div>{{ user.name|title }},
									{{ user.age}}
									ans</div>
								<div>
									<div>Parle :
										{% for languages in user.language %}
											{{ languages|replace({"\n":' '}) }}
											{% if not loop.last %},
											{% endif %}
										{% endfor %}
									</div>
									<div>Veut parler :
										{% for languageslearned in user.languageLearned %}
											{{ languageslearned|replace({"\n":' '}) }}
											{% if not loop.last %},
											{% endif %}
										{% endfor %}
									<div>
										<a class="btn btn-danger text-center" href="{{ path('fiche_membre' , {'id' : user.id } ) }}">Voir le profil complet</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	{% else %}
		{# sinon le tableau user est vide #}

		<h4 class="text-center mt-4 text-danger">Il n'y aucun membres pour le moment</h4>

	{% endif %}
</div></div></div></div>{% endblock %}
