{% extends 'base.html.twig' %}

{% block title %}Lingoland : maîtriser une langue par la conversation
{% endblock %}

{% block body %}
	{% for notification in app.flashes('verify-success') %}
		<div class="alert alert-success col-md-6 mx-auto text-center disparition">{{ notification }}</div>
	{% endfor %}
	<div class="container-fluid mx-auto p-0">
		<div class="main_ban img-fluid">
			<div class="row align-items-center mx-auto">
				<div class="col-md-6 textbanner">
					<h1>Boost ton apprentissage</h1>
					<h2>Pratique une langue étrangère avec des natifs</h2>
					<div class="d-flex justify-content-center ">
						<ul class="text-left">
							<li>
								<i class="far fa-check-circle" style="color:#3007AF"></i>
								Inscription gratuite</li>
							<li>
								<i class="far fa-check-circle" style="color:#3007AF"></i>
								Supports de communication disponibles</li>
							<li>
								<i class="far fa-check-circle" style="color:#3007AF"></i>
								Apprentissage par la conversation</li>
						</ul>
					</div>
					{% if app.user != true %}
						<button type="button" class="btn btn-success">
							<a href="{{path('app_register')}}">Je m'inscris</a>
						</button>
					{% else %}
						<button type="button" class="btn btn-success">
							<a href="{{path('all_members')}}">Je cherche un partenaire</a>
						</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<h2 class="textbanner">Pourquoi faire un échange linguistique?</h2>
	<div class="card-deck m-3">
		<div class="card border-0">
			<img src="{{ asset('images/discussion.jpg')}}" class="card-img-top img-fluid" alt="Simplicité">
			<div class="card-body">
				<h3 class="card-title text-center text-success">Simplicité</h3>
				<p class="card-text text-center">Pratiquez une langue étrangère n'importe où et quand vous voulez.</p>
				<p class="card-text text-center">Vous en découvrez plus sur la culture du pays dont vous souhaitez apprendre la langue.</p>

			</div>
		</div>
		<div class="card border-0">
			<img src="{{ asset('images/discussion2.jpg')}}" class="card-img-top img-fluid" alt="Authenticité">
			<div class="card-body">
				<h3 class="card-title text-center text-success ">Authenticité</h3>
				<p class="card-text text-center">Bénéficiez d’une interaction représentative de la vie quotidienne.</p>
				<p class="card-text text-center">Vos partenaires sont des locuteurs natifs.</p>
			</div>
		</div>
		<div class="card border-0">
			<img src="{{ asset('images/rencontres.jpg')}}" class="card-img-top img-fluid" alt="Rencontres">
			<div class="card-body">
				<h3 class="card-title text-center text-success ">Rencontres</h3>
				<p class="card-text text-center">Rencontrez de nouvelles personnes à travers le monde.</p>
				<p class="card-text text-center">Des personnes motivées, aux objectifs similaires.</p>
			</div>
		</div>
	</div>
	<h2 class="textbanner">Lingoland, comment ça marche?</h2>
	<div class="card-deck m-3">
		<div class="card border-0">
			<img src="{{ asset('images/person.svg')}}" class="card-img-top" alt="register-person">
			<div class="card-body textbanner">
				<h3 class="card-title text-success">Je m'inscris gratuitement</h3>
				<p class="card-text">Pour devenir membre, il suffit de remplir le formulaire d'inscription qui permettra à chacun de mieux cibler ses recherches.</p>
			</div>
		</div>
		<div class="card border-0">
			<img src="{{ asset('images/search.svg')}}" class="card-img-top" alt="search-member">
			<div class="card-body textbanner">
				<h3 class="card-title text-success">Je cherche un partenaire</h3>
				<p class="card-text">Grâce aux informations du formulaire, vous pourrez chercher des partenaires de langue qui vous correspondent</p>
			</div>
		</div>
		<div class="card border-0">
			<img src="{{ asset('images/envelope.svg')}}" class="card-img-top" alt="contact">
			<div class="card-body textbanner">
				<h3 class="card-title text-success">Je le contacte pour échanger</h3>
				<p class="card-text">Une fois que vous aurez trouvé un membre qui vous correspond, vous pourrez le contacter pour devenir partenaire de langue</p>
			</div>
		</div>
		<div class="card border-0">
			<img src="{{ asset('images/card-text.svg')}}" class="card-img-top" alt="contact">
			<div class="card-body textbanner">
				<h3 class="card-title text-success">J'utilise le matériel pédagogique</h3>
				<p class="card-text">Une fois que vous aurez trouvé un membre qui vous correspond, vous pourrez le contacter pour devenir partenaire de langue</p>
			</div>
		</div>
	</div>
	<div class="container-fluid banner">
		<h2 class="textbanner">Des supports de communication disponibles</h2>
		<div class="row justify-content-center">
			<div class="text-center">
				<img src="{{ asset('images/france.png')}}" class="flag" alt="français">
				<img src="{{ asset('images/united-kingdom.png')}}" class="flag" alt="Royaume-Uni">
				<img src="{{ asset('images/germany.png')}}" class="flag" alt="Allemagne">
				<img src="{{ asset('images/spain.png')}}" class="flag" alt="Espagne">
			</div>
		</div>
		<div class="textbanner">
			<h3>Pour tous les niveaux</h3>
			<button type="button" class="btn btn-secondary" disabled>A1</button>
			<button type="button" class="btn btn-secondary" disabled>A2</button>
			<button type="button" class="btn btn-secondary" disabled>B1</button>
			<button type="button" class="btn btn-secondary" disabled>B2</button>
			<button type="button" class="btn btn-secondary" disabled>C1</button>
			<button type="button" class="btn btn-secondary" disabled>C2</button>
			<div class="row justify-content-center">
				<p>
					<i class="fas fa-angle-double-right mr-2" style="color:#3007AF"></i>
					Progression plus rapide</p>
				<p>
					<i class="fas fa-angle-double-right mr-2" style="color:#3007AF"></i>
					Apprentissage structuré
				</p>
				<p>
					<i class="fas fa-angle-double-right mr-2" style="color:#3007AF"></i>
					Solidarité entre apprenant</p>
			</div>
			<button type="button" class="btn btn-success">
				<a href="{{path('app_register')}}">Voir le matériel</a>
			</button>
		</div>
	</div>
			<h2>Foire aux questions
		</h2>
	<div class="accordion accordion-flush col-md-8 mx-auto" id="accordionFlushExample">
		<div class="accordion-item">
			<h3 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					L'application est-elle payante ?
				</button>
			</h3>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">L'inscription et l'utilisation de l'application est gratuite. Une version payante sera bientôt disponible, offrant plus de fonctionnalités comme l'utilisation d'un chat instantané avec un système de correction intégré.</div>
			</div>
		</div>
		<div class="accordion-item">
			<h3 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Comment trouver un partenaire linguistique une fois inscrit ?
				</button>
			</h3>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">Une fois inscrit(e), il suffit de vous connecter avec vos identifiants et de cliquer sur l'onglet "trouver un partenaire" dans le menu principal. La page qui liste l'ensemble des membres du site s'affichera et vous pourrez ensuite filtrer les résultats de recherche.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h3 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					Comment contacter un membre ?
				</button>
			</h3>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">Pour contacter un membre, cliquez sur "voir le profil" puis sur "contacter" sous la photo de profil. Vous serez ensuite redirigé sur le système de messagerie intégré où vous pourrez taper votre message et l'envoyer.
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h3 class="accordion-header" id="flush-headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
					Quel moyen de communication utiliser ?
				</button>
			</h3>
			<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">Après avoir contacté un membre, si celui-ci est disponible, vous devez établir ensemble le mode de communication que vous souhaitez utiliser pour faire la session d'échange linguistique (mail, chat ou face-à-face)
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h3 class="accordion-header" id="flush-headingFive">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
					Comment se passe un échange linguistique ?
				</button>
			</h3>
			<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">C'est à vous de le définir. En général, une session dure une heure, vous pratiquez les 30 premières minutes puis votre partenaire les 30 dernières. Avec Lingoland, vous aurez accès à des supports de conversation à utiliser durant les sessions si vous le souhaitez.
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
