{% extends 'base.html.twig' %} {# étendre le fichier base.html.twig #}

{% block title %} {{parent()}} | Gestions des membres{% endblock %}


{% block titreH1 %}Gestion des membres{% endblock %}


{% block body %}

    
<h1 class="h1_profil col-md-12 d-flex justify-content">Gestion des membres</h1>
    <div class="col-md-8 mx-auto">
    

        {% if users is not empty %} {# si le tableau user n'est pas vide #}

            
                <table class="table table-white text-center">

                    <thead class="bg-dark text-white">

                        <tr>
                            <th>ID User</th>
                            <th>Nom</th>
                            <th>Age</th>
                            <th>Date d'inscription</th>
                            <th>Supprimer</th>
                        </tr>
                    
                    </thead>

                    <tbody>

                        {% for user in users %}

                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.age}}</td>
                                <td>{{ user.CreatedAt | date('d/m/Y')}}</td>

                                <td>
                                    <a href="{{ path('supprimer_user' , {'id' : user.id } ) }}" onclick="return confirm('confirmez-vous la suppression ?')">
                                        <img class="img-fluid"src="{{ asset('images/delete.png') }}" alt="icône de suppression">
                                    </a>
                                </td>
                            
                            </tr>

                        {% endfor %}
                    
                    </tbody>
                
                
                
                </table>
            

        {% else %} {# sinon le tableau membres est vide #}

            <h3 class="text-center mt-4 text-danger">Il n'y aucun membre pour le moment</h3>
            
        {% endif %}

    </div>

{% endblock %}

