{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{ app.user.name |title }}
{% endblock %}

{% block body %}

	<div class="container col-md-12 mx-auto">

		<h1 class="h1_profil col-md-6 d-flex justify-content">Profil de
			{{ app.user.name|title }}
		</h1>

		<div class="row">
			<div class="col-md-6 mx-auto">
				<ul class="list-group list-group-flush">

					<li class="list-group-item">Email :
						{{ app.user.email }}
					</li>
					<li class="list-group-item">Nom :
						{{ app.user.name|title}}
					</li>
					<li class="list-group-item">Genre :
						{{ app.user.genre|title}}
					</li>
					<li class="list-group-item">Age :
						{{ app.user.age }}
					</li>
					<li class="list-group-item">Ville :
						{{ app.user.city|title }}
					</li>
					<li class="list-group-item">Langue(s) :
						{% for languages in app.user.language %}
							{{ languages|replace({"\n":' '}) }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</li>
					<li class="list-group-item">Langue(s) apprise(s):
						{% for languageslearned in app.user.languageLearned %}
							{{ languageslearned|replace({"\n":' ', "\r":' '}) }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</li>
					<li class="list-group-item">Fréquence:
						{{ app.user.frequency|replace({"\n":' ', "\r":' '}) }}
					</li>
					<li class="list-group-item">Disponibilités:
						{% for dispo in app.user.availibility %}
							{{ dispo|replace({"\n":' ', "\r":' '}) }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</li>
					<li class="list-group-item">Loisirs:
						{% for hobbies in app.user.hobby %}
							{{ hobbies|replace({"\n":' ', "\r":' '}) }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</li>
				</ul>
			</div>
			<div class="col-md-6 mx-auto ">
				<li class="list-group-item">
					<img class="photo_membre img-fluid" src="{{ asset('images/uploadphotos/' ~ app.user.photo) }}">
				</li>


				<div class="row d-flex justify-content-center col-md-12">
					<a class="col-md-3 btn btn-success" href="{{path('profil_modifier', {'id' : app.user.id })}}">Modifier le profil</a>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
