{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Dashboard | Gestion des fréquences{% endblock %}


{% block body %}

	<h1 class="h1_profil col-md-12 d-flex justify-content">Gestion des fréquences</h1>

    {% for notification in app.flashes('success') %}
            <div class="alert alert-success col-md-6 mx-auto text-center disparition">{{ notification }}</div>
    {% endfor %}

       
    {% if frequencies %} 
        
		<div class="col-md-10 mx-auto">
		<table class="table table-hover text-center">

			<thead class="bg-dark text-white">

                <tr>
                
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                
                </tr>
            
            
            </thead>


            <tbody>
            
                {% for frequency in frequencies  %}
                    <tr class="align-middle">

                        <td >{{ frequency.id }}</td>
                        <td>{{ frequency.name }}</td>
                    

                        <td>
                            <a href="{{ path('frequency_modifier' , {"id" : frequency.id }  ) }}" >
                                <img src="{{ asset('images/pencil-square.svg') }}" alt="icône de modification"class="img-fluid">
                            </a>
                        </td>



                        <td>
                            <a href="{{ path('frequency_supprimer' , {"id" : frequency.id }  ) }}" onclick="return confirm('Confirmez-vous la suppression de la fréquence ?')">
                                <img src="{{ asset('images/trash.svg') }}" alt="icône de suppression" class="img-fluid">
                            </a>
                        </td>
                    
                    
                    
                    </tr>
                {% endfor %}
            
            
            </tbody>
        
        
        </table>


    {% else %}
        <h3 class="text-danger fst-italic text-center mt-3">Il n'y a aucune fréquence pour le moment</h3>
    {% endif %}

</div>

    <div class="d-flex justify-content-end col-md-10 mx-auto">
        <a class='col-md-3 me-0  btn btn-success-success' href="{{ path('frequency_ajouter') }}">Ajouter une fréquence</a>
    </div>

{% endblock %}