{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Dashboard | 

{% if modification %}
    Modifier la fréquence "{{ frequency.name }}"
{% else %}
    Ajouter une fréquence
{% endif %}

{% endblock %}

{% block body %}

{% if modification %}
    <h1 class="h1_profil2 col-md-12 d-flex">Modifier la fréquence "{{ frequency.name }}"</h1>
{% else %}
    <h1 class="h1_profil col-md-12 d-flex">Ajouter une fréquence</h1>
{% endif %}

    <div class="col-md-5 mx-auto">

        {{ form_start(formFrequency) }}

            {{ form_row(formFrequency.name) }}

                    </div>

        <div class="col-md-12 d-flex justify-content-center">

            <input type="submit" 

            {% if modification %}
              class="btn btn-success2"  value="Modifier"
            {% else %}
              class="btn btn-success-success"  value="Ajouter"
            {% endif %} 
            > 
                            {{ form_end(formFrequency) }}

    </div>
    

{% endblock %}

