{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<section class="container">
				{% for notification in app.flashes('message') %}
					<div class="alert alert-success col-md-12 mx-auto text-center disparition">{{ notification }}</div>
				{% endfor %}
		<div class="row">
			<div class="col">

				<h1 class="messagerie">Résumé de la messagerie</h1>
				<p>Reçus :
					{{ app.user.received|length }}</p>
				<p>Envoyés :
					{{ app.user.sent|length }}</p>
				<a class="btn btn-success-success ml-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
				{#<a href="{{path("send")}}" class="btn btn-primary">Envoyer un message</a>#}
			</div>
			<div class="col-md-6">
				<img src="{{ asset('images/mailbox2.jpg')}}" class="img-fluid" alt="Confirm_email">
			</div>
		</div>
	</section>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="list-group">
				<a href="{{path("received")}}" class="list-group-item list-group-item-action border-0">Boîte de réception</a>
			</div>
			<div class="list-group">
				<a href="{{path("sent")}}" class="list-group-item list-group-item-action border-0">Elements envoyés</a>
			</div>
			<div class="list-group">
				<a href="{{path("messages")}}" class="list-group-item list-group-item-action border-0">Elements supprimés</a>
			</div>
		</div>
	</div>
{% endblock %}
