{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	| Dashboard |

	{% if modification %}
		Modifier la disponibilité "{{ availibility.name }}"
	{% else %}
		Ajouter une disponibilité
	{% endif %}

{% endblock %}

{% block body %}

	{% if modification %}
		<h1 class="h1_profil2 col-md-12 d-flex">Modifier la disponibilité "{{ availibility.name }}"</h1>
	{% else %}
		<h1 class="h1_profil col-md-12 d-flex">Ajouter une disponibilité</h1>
	{% endif %}


	<div class="col-md-5 mx-auto">

		{{ form_start(formAvailibility) }}

		{{ form_row(formAvailibility.name) }}

		

        </div>

		<div class="col-md-12 d-flex justify-content-center">
			<input type="submit" {% if modification %} class="btn btn-success2" value="Modifier" {% else %} class="btn btn-success-success" value="Ajouter" {% endif %}>

		</div>
	{{ form_end(formAvailibility) }}
	{% endblock %}
